<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.bootcss.com/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
  <style>
    .padding {
      padding: 1rem;
    }
    .point {
      fill: #bfd62e;
    }
    .control-point {
      cursor: all-scroll;
      fill: #bfd62e;
    }
    svg {
      max-width: 80vh;
      max-height: 80vh;
    }
    pre.code {
      font-size: 1.2rem;
      background: lightgray;
      padding:1rem;
      text-align: center;
    }
  </style>
</head>
<body>

<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">YABD</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#cubicBezier">CSS Easing Function</a></li>
        <li><a href="#bezier">General Bezier Curse</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container row" id="cubicBezier">
  <div class="col s12">
    <pre class="code">cubic-bezier({{a.x}}, {{a.y}}, {{b.x}}, {{b.y}})</pre>
  </div>
  <div class="col s12 m6">
    <svg viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" style="background: lightgray">
      <rect x="5" y="5" width="100" height="100" fill="#333" />
      <line x1="5" y1="105" :x2="5 + a.x * 100" :y2="105 - a.y * 100" stroke="gray" stroke-width="0.4"/>
      <line x1="105" y1="5" :x2="5 + b.x * 100" :y2="105 - b.y * 100" stroke="gray" stroke-width="0.4"/>

      <circle :cx="5 + a.x * 100" :cy="105 - a.y * 100" r="1" class="control-point" @mousedown="startMove('a', $event)" @touchstart.prevent="startMove" />
      <circle :cx="5 + b.x * 100" :cy="105 - b.y * 100" r="1" class="control-point" @mousedown="startMove('b', $event)" @touchstart.prevent="startMove" />

      <circle class="point" :cx="5 + point.x" :cy="105 - point.y" r="0.2" v-for="point in points" />
    </svg>
  </div>
  <div class="col s12 m6">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Point A x" id="pointAX" type="number" v-model="a.x" min="0" max="1" step="0.001" />
        <label for="pointAX">P1</label>
      </div>
      <div class="input-field col s6">
        <input type="number" v-model="a.y" placeholder="Point A y" min="0" max="1" step="0.001" />
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Point B x" id="pointBX" type="number" v-model="b.x" min="0" max="1" step="0.001" />
        <label for="pointBX">P2</label>
      </div>
      <div class="input-field col s6">
        <input type="number" v-model="b.y" placeholder="Point B y" min="0" max="1" step="0.001" />
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="precision" type="number" min="50" max="1000" v-model="precision" step="10">
        <label for="precision">Precision</label>
        <span class="helper-text">Dots on the curse</span>
      </div>
    </div>
  </div>
</div>

<div class="container row" id="bezier">
  <div class="col s12">
    <pre class="code">A {{ dots.length }} times bezier curse</pre>
  </div>

  <div class="col s12 m6">
    <svg viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg" style="background: lightgray">
      <rect x="5" y="5" width="100" height="100" fill="#333" />
      <line :x1="5 + dot.x * 100" :y1="105 - dot.y * 100" :x2="5 + dots[index].x * 100" :y2="105 - dots[index].y * 100" stroke="gray" stroke-width="0.4" v-for="(dot, index) in dots.slice(1)" />
      <circle :cx="5 + dot.x * 100" :cy="105 - dot.y * 100" r="1" class="control-point" v-for="(dot, index) in dots" @mousedown="startMove(index, $event)" @touchstart.prevent="startMove" />
      <circle class="point" :cx="5 + point.x * 100" :cy="105 - point.y * 100" r="0.2" v-for="point in points" />
    </svg>
  </div>
  <div class="col s12 m6">
    <div class="row">
      <div class="input-field col s12">
        <input id="precision2" type="number" min="50" max="1000" v-model="precision" step="10">
        <label for="precision2">Precision</label>
        <span class="helper-text">Dots on the curse</span>
      </div>
    </div>

    <div class="row" v-for="(dot, index) in dots">
      <div class="input-field col s5">
        <input :placeholder="`Point ${index} x`" :id="`point${index}X`" type="number" v-model.number="dot.x" min="0" max="1" step="0.001" />
        <label for="pointBX">Dot {{index}}</label>
      </div>
      <div class="input-field col s5">
        <input type="number" v-model.number="dot.y" :placeholder="`Point ${index} y`" min="0" max="1" step="0.001" />
      </div>
      <div class="col s2">
        <button class="waves-effect waves-light btn red" @click="removeDot(index)" :disabled="dots.length <= 1">&times;</button>
      </div>
    </div>

    <div class="row">
      <div class="s3">
        <button class="waves-effect waves-light btn" @click="addDot">Add dot</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="./bezier.js"></script>

<footer class="page-footer">
  <div class="container">
    <h5 class="white-text">Yet another bezier demo</h5>
    <p class="grey-text text-lighten-4">By SR2k</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; Siyuan Cao
    </div>
  </div>
</footer>

</body>
</html>
